.nav-name {
  font-size: 20pt;
  border-style: dotted;
  border-radius: 20px;
  padding-left: 9px;
  padding-right: 9px;
  color: darkblue;
  font-family: "Poppins", sans-serif;
  background-color: white;
}

.nav-item {
  color: black !important;
}

.active {
  text-decoration: underline;
  text-underline-offset: 25%;
}

body {
    background-color: darkgray;    
}

.profile-pic {    
    width: 33%;
    float: right;
    overflow-y: hidden;
}

.top-row {
    margin-top: 32px;
}



/* about section */
/* ====================================== */
.about-section {
  background-color: white;
}

.skills-container {
  background-color: white;
}

.about-heading {
  text-align: center;
  background-color: lightblue;
  padding: 8px;
  margin-top: 8px;
  font-size: 28pt;
  font-weight: 400;
}

.skill-card {
  border-style: none;  
}

.skill-icon {
  display: block;
  margin:auto;
  margin-top: 25px;
}

.card-title {
  text-align: center;
}

/* PORTFOLIO section */
/* ====================================== */
.page-head {
  background-image: linear-gradient(to right, lightblue, lightblue, lightcyan);
  background-color: lightblue;
}

.card-deck {
  margin-bottom: 20px;
}

.image-container {
  position: relative;
  height: 200px;
  overflow-y: hidden;
}

.image-fade {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.image-container:hover .image-fade {
  opacity: 0.3;
}

.image-container:hover .middle {
  opacity: 1;
}

.middle-text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  border-radius: 15px;
}

/* CONTACT section */
/* ============================ */
.contact-text {
  text-align: center;
}

/* WILDFIRES project */
/* ============================ */
.wildfire-jumbo {
  background-image: url("../images/wildfire.jpg");
  background-size: 100%;
  color: white;
}

.skills-box {
  background-color: white;
  color: black;
  opacity: .8;
  width: 100%;
  height: 100%;
}

.skills-header {
  background-color: lightblue;
}

.skills-list {
  column-count: 2;
}